In [1]:

#Step1  import 1 yr state sample data and check format

import pandas as pd

stats = pd.read_csv("NBA_Stats_2023_2024.csv")

print(stats.head())
print(stats.shape)

    Rk                    Team   G     MP    FG   FGA    FG%    3P   3PA  \
0  1.0         Indiana Pacers*  82  19705  3855  7599  0.507  1082  2891
1  2.0         Boston Celtics*  82  19830  3601  7396  0.487  1351  3482
2  3.0  Oklahoma City Thunder*  82  19805  3653  7324  0.499  1090  2805
3  4.0        Milwaukee Bucks*  82  19805  3538  7258  0.487  1163  3122
4  5.0           Atlanta Hawks  82  19855  3529  7584  0.465  1125  3092

     3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS
0  0.374  ...  0.782   827  2578  3405  2522  631  481  1059  1756  10110
1  0.388  ...  0.807   876  2923  3799  2207  557  538   979  1326   9887
2  0.389  ...  0.825   722  2725  3447  2223  694  538  1039  1545   9847
3  0.373  ...  0.774   772  2850  3622  2176  558  413  1059  1574   9756
4  0.364  ...  0.797  1024  2639  3663  2180  615  369  1110  1522   9703

[5 rows x 25 columns]
(31, 25)

In [17]:

#Step2-1  mport 1 yr rank sample data and check format

raw_east = pd.read_csv("NBA_Standings_East_2023_2024.csv", header=None)

print(raw_east.head())
print(raw_east.shape)

                                                   0
0  Eastern Conference\tW\tL\tW/L%\tGB\tPS/G\tPA/G...
1  Boston Celtics*\t64\t18\t.780\t—\t120.6\t109.2...
2  New York Knicks*\t50\t32\t.610\t14.0\t112.8\t1...
3  Milwaukee Bucks*\t49\t33\t.598\t15.0\t119.0\t1...
4  Cleveland Cavaliers*\t48\t34\t.585\t16.0\t112....
(16, 1)

In [18]:
#Step2-2  mport 1 yr rank sample data and check format

raw_west = pd.read_csv("NBA_Standings_West_2023_2024.csv", header=None)

print(raw_west.head())
print(raw_west.shape)

                                                   0
0  Western Conference\tW\tL\tW/L%\tGB\tPS/G\tPA/G...
1  Oklahoma City Thunder*\t57\t25\t.695\t—\t120.1...
2  Denver Nuggets*\t57\t25\t.695\t—\t114.9\t109.6...
3  Minnesota Timberwolves*\t56\t26\t.683\t1.0\t11...
4  Los Angeles Clippers*\t51\t31\t.622\t6.0\t115....
(16, 1)

In [19]:
#Step3-1  split Step2 data use \t

s = raw_east.iloc[:, 0].astype(str).str.replace('"', '', regex=False)
parts = s.str.split('\t', expand=True)

print(parts.head())
print(parts.shape)

                      0   1   2     3     4      5      6      7
0    Eastern Conference   W   L  W/L%    GB   PS/G   PA/G    SRS
1       Boston Celtics*  64  18  .780     —  120.6  109.2  10.75
2      New York Knicks*  50  32  .610  14.0  112.8  108.2   4.36
3      Milwaukee Bucks*  49  33  .598  15.0  119.0  116.4   2.44
4  Cleveland Cavaliers*  48  34  .585  16.0  112.6  110.2   1.98
(16, 8)

In [20]:
#Step3-2  split Step2 data use \t

s = raw_west.iloc[:, 0].astype(str).str.replace('"', '', regex=False)
parts = s.str.split('\t', expand=True)

print(parts.head())
print(parts.shape)

                         0   1   2     3    4      5      6     7
0       Western Conference   W   L  W/L%   GB   PS/G   PA/G   SRS
1   Oklahoma City Thunder*  57  25  .695    —  120.1  112.7  7.36
2          Denver Nuggets*  57  25  .695    —  114.9  109.6  5.23
3  Minnesota Timberwolves*  56  26  .683  1.0  113.0  106.5  6.39
4    Los Angeles Clippers*  51  31  .622  6.0  115.6  112.3  3.41
(16, 8)

In [4]:

#Step4-1  extract data (East)

east_header = parts.iloc[0]
east = parts.iloc[1:].reset_index(drop=True)
east.columns = east_header

print(east.head())
print(east.shape)

0    Eastern Conference   W   L  W/L%    GB   PS/G   PA/G    SRS
0       Boston Celtics*  64  18  .780     —  120.6  109.2  10.75
1      New York Knicks*  50  32  .610  14.0  112.8  108.2   4.36
2      Milwaukee Bucks*  49  33  .598  15.0  119.0  116.4   2.44
3  Cleveland Cavaliers*  48  34  .585  16.0  112.6  110.2   1.98
4        Orlando Magic*  47  35  .573  17.0  110.5  108.4   1.48
(15, 8)

In [21]:
#Step4-2  extract data (East)

west_header = parts.iloc[0]
west = parts.iloc[1:].reset_index(drop=True)
west.columns = west_header

print(west.head())
print(west.shape)

0       Western Conference   W   L  W/L%   GB   PS/G   PA/G   SRS
0   Oklahoma City Thunder*  57  25  .695    —  120.1  112.7  7.36
1          Denver Nuggets*  57  25  .695    —  114.9  109.6  5.23
2  Minnesota Timberwolves*  56  26  .683  1.0  113.0  106.5  6.39
3    Los Angeles Clippers*  51  31  .622  6.0  115.6  112.3  3.41
4        Dallas Mavericks*  50  32  .610  7.0  117.9  115.6  2.30
(15, 8)

In [28]:

#Step5 first Rename column's title to Team and clean remove * from team

east = east.rename(columns={"Eastern Conference": "Team"})
east["Team_clean"] = east["Team"].str.replace("*", "", regex=False).str.strip()
east["Conference"] = "East"
east["Year"] = 2024

print(east.head())
print(east.shape)
print(east.columns)

0                  Team           Team_clean   W   L Conference  Year
0       Boston Celtics*       Boston Celtics  64  18       East  2024
1      New York Knicks*      New York Knicks  50  32       East  2024
2      Milwaukee Bucks*      Milwaukee Bucks  49  33       East  2024
3  Cleveland Cavaliers*  Cleveland Cavaliers  48  34       East  2024
4        Orlando Magic*        Orlando Magic  47  35       East  2024
(15, 6)
Index(['Team', 'Team_clean', 'W', 'L', 'Conference', 'Year'], dtype='object', name=0)

In [29]:

#Step5-2 first Rename column's title to Team and clean remove * from team

west = west.rename(columns={"Western Conference": "Team"})
west["Team_clean"] = west["Team"].str.replace("*", "", regex=False).str.strip()
west["Conference"] = "West"
west["Year"] = 2024

print(west.head())
print(west.shape)
print(west.columns)

0                     Team   W   L  W/L%   GB   PS/G   PA/G   SRS  \
0   Oklahoma City Thunder*  57  25  .695    —  120.1  112.7  7.36
1          Denver Nuggets*  57  25  .695    —  114.9  109.6  5.23
2  Minnesota Timberwolves*  56  26  .683  1.0  113.0  106.5  6.39
3    Los Angeles Clippers*  51  31  .622  6.0  115.6  112.3  3.41
4        Dallas Mavericks*  50  32  .610  7.0  117.9  115.6  2.30

0              Team_clean Conference  Year
0   Oklahoma City Thunder       West  2024
1          Denver Nuggets       West  2024
2  Minnesota Timberwolves       West  2024
3    Los Angeles Clippers       West  2024
4        Dallas Mavericks       West  2024
(15, 11)
Index(['Team', 'W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS', 'Team_clean',
       'Conference', 'Year'],
      dtype='object', name=0)

In [30]:

#Step6  Remove useless data, remain only win and lost data

east = east[["Team", "Team_clean", "W", "L", "Conference", "Year"]]

print(east.head())
print(east.shape)

0                  Team           Team_clean   W   L Conference  Year
0       Boston Celtics*       Boston Celtics  64  18       East  2024
1      New York Knicks*      New York Knicks  50  32       East  2024
2      Milwaukee Bucks*      Milwaukee Bucks  49  33       East  2024
3  Cleveland Cavaliers*  Cleveland Cavaliers  48  34       East  2024
4        Orlando Magic*        Orlando Magic  47  35       East  2024
(15, 6)

In [31]:
#Step6-2  Remove useless data, remain only win and lost data

west = west[["Team", "Team_clean", "W", "L", "Conference", "Year"]]

print(west.head())
print(west.shape)

0                     Team              Team_clean   W   L Conference  Year
0   Oklahoma City Thunder*   Oklahoma City Thunder  57  25       West  2024
1          Denver Nuggets*          Denver Nuggets  57  25       West  2024
2  Minnesota Timberwolves*  Minnesota Timberwolves  56  26       West  2024
3    Los Angeles Clippers*    Los Angeles Clippers  51  31       West  2024
4        Dallas Mavericks*        Dallas Mavericks  50  32       West  2024
(15, 6)

In [33]:

#Step7 Concat West & East

standings = pd.concat([east, west], ignore_index=True)

print(standings.head())
print(standings.shape)

0                  Team           Team_clean   W   L Conference  Year
0       Boston Celtics*       Boston Celtics  64  18       East  2024
1      New York Knicks*      New York Knicks  50  32       East  2024
2      Milwaukee Bucks*      Milwaukee Bucks  49  33       East  2024
3  Cleveland Cavaliers*  Cleveland Cavaliers  48  34       East  2024
4        Orlando Magic*        Orlando Magic  47  35       East  2024
(30, 6)

In [34]:
#Step8 Check East West team number ok

print(standings["Conference"].value_counts())
print("unique teams:", standings["Team_clean"].nunique())

Conference
East    15
West    15
Name: count, dtype: int64
unique teams: 30

In [35]:
#Step9 Re read NBA stats (to make sure)
stats = pd.read_csv("NBA_Stats_2023_2024.csv")
print(stats.head())
print(stats.shape)

    Rk                    Team   G     MP    FG   FGA    FG%    3P   3PA  \
0  1.0         Indiana Pacers*  82  19705  3855  7599  0.507  1082  2891
1  2.0         Boston Celtics*  82  19830  3601  7396  0.487  1351  3482
2  3.0  Oklahoma City Thunder*  82  19805  3653  7324  0.499  1090  2805
3  4.0        Milwaukee Bucks*  82  19805  3538  7258  0.487  1163  3122
4  5.0           Atlanta Hawks  82  19855  3529  7584  0.465  1125  3092

     3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS
0  0.374  ...  0.782   827  2578  3405  2522  631  481  1059  1756  10110
1  0.388  ...  0.807   876  2923  3799  2207  557  538   979  1326   9887
2  0.389  ...  0.825   722  2725  3447  2223  694  538  1039  1545   9847
3  0.373  ...  0.774   772  2850  3622  2176  558  413  1059  1574   9756
4  0.364  ...  0.797  1024  2639  3663  2180  615  369  1110  1522   9703

[5 rows x 25 columns]
(31, 25)

In [36]:
#Step10 Delete League average stat

stats = stats[~stats["Team"].astype(str).str.contains("League Average", na=False)]
print(stats.shape)

(30, 25)

In [37]:

#Step11 Also generate clean team name and year

stats["Team_clean"] = stats["Team"].astype(str).str.replace("*", "", regex=False).str.strip()
stats["Year"] = 2024

print(stats[["Team", "Team_clean", "Year"]].head())

                     Team             Team_clean  Year
0         Indiana Pacers*         Indiana Pacers  2024
1         Boston Celtics*         Boston Celtics  2024
2  Oklahoma City Thunder*  Oklahoma City Thunder  2024
3        Milwaukee Bucks*        Milwaukee Bucks  2024
4           Atlanta Hawks          Atlanta Hawks  2024

In [38]:

#Step 12 check so far so good

print("unique teams in stats:", stats["Team_clean"].nunique())

unique teams in stats: 30

In [39]:

#Step 13 Do the merge on stats and W/L data based on clean name and yr

merged = pd.merge(
    stats,
    standings,
    on=["Team_clean", "Year"],
    how="inner"
)

print(merged.head())
print(merged.shape)

    Rk                  Team_x   G     MP    FG   FGA    FG%    3P   3PA  \
0  1.0         Indiana Pacers*  82  19705  3855  7599  0.507  1082  2891
1  2.0         Boston Celtics*  82  19830  3601  7396  0.487  1351  3482
2  3.0  Oklahoma City Thunder*  82  19805  3653  7324  0.499  1090  2805
3  4.0        Milwaukee Bucks*  82  19805  3538  7258  0.487  1163  3122
4  5.0           Atlanta Hawks  82  19855  3529  7584  0.465  1125  3092

     3P%  ...  BLK   TOV    PF    PTS             Team_clean  Year  \
0  0.374  ...  481  1059  1756  10110         Indiana Pacers  2024
1  0.388  ...  538   979  1326   9887         Boston Celtics  2024
2  0.389  ...  538  1039  1545   9847  Oklahoma City Thunder  2024
3  0.373  ...  413  1059  1574   9756        Milwaukee Bucks  2024
4  0.364  ...  369  1110  1522   9703          Atlanta Hawks  2024

                   Team_y   W   L  Conference
0         Indiana Pacers*  47  35        East
1         Boston Celtics*  64  18        East
2  Oklahoma City Thunder*  57  25        West
3        Milwaukee Bucks*  49  33        East
4           Atlanta Hawks  36  46        East

[5 rows x 31 columns]
(30, 31)

In [40]:

#Step 14 check all W+L is ok

print("Missing W:", merged["W"].isna().sum())
print("Missing L:", merged["L"].isna().sum())

Missing W: 0
Missing L: 0

In [41]:
#Step 14 check team number correct

print("unique merged teams:", merged["Team_clean"].nunique())

unique merged teams: 30

In [42]:

#Step 15 replace Team_x with Team and delete Team_y (don't need) 

merged = merged.drop(columns=["Team_y"])
merged = merged.rename(columns={"Team_x": "Team"})
print(merged[["Team", "W", "L", "Conference"]].head())

                     Team   W   L Conference
0         Indiana Pacers*  47  35       East
1         Boston Celtics*  64  18       East
2  Oklahoma City Thunder*  57  25       West
3        Milwaukee Bucks*  49  33       East
4           Atlanta Hawks  36  46       East

In [44]:

#Step 16 Check work flow OK, try to use on all 10yr data

def load_standings(path, conference_label, year):
    raw = pd.read_csv(path, header=None)
    s = raw.iloc[:, 0].astype(str).str.replace('"', '', regex=False)
    parts = s.str.split('\t', expand=True)
    
    header = parts.iloc[0]
    df = parts.iloc[1:].reset_index(drop=True)
    df.columns = header
    
    first_col = df.columns[0]
    df = df.rename(columns={first_col: "Team"})
    
    df["Team_clean"] = df["Team"].astype(str).str.replace("*", "", regex=False).str.strip()
    df["Conference"] = conference_label
    df["Year"] = year
    
    df = df[["Team", "Team_clean", "W", "L", "Conference", "Year"]]
    return df

In [45]:
#Step 17 Use new fun to load

east_2024 = load_standings("NBA_Standings_East_2023_2024.csv", "East", 2024)
west_2024 = load_standings("NBA_Standings_West_2023_2024.csv", "West", 2024)

print(east_2024.head())
print(east_2024.shape)

print(west_2024.head())
print(west_2024.shape)

0                  Team           Team_clean   W   L Conference  Year
0       Boston Celtics*       Boston Celtics  64  18       East  2024
1      New York Knicks*      New York Knicks  50  32       East  2024
2      Milwaukee Bucks*      Milwaukee Bucks  49  33       East  2024
3  Cleveland Cavaliers*  Cleveland Cavaliers  48  34       East  2024
4        Orlando Magic*        Orlando Magic  47  35       East  2024
(15, 6)
0                     Team              Team_clean   W   L Conference  Year
0   Oklahoma City Thunder*   Oklahoma City Thunder  57  25       West  2024
1          Denver Nuggets*          Denver Nuggets  57  25       West  2024
2  Minnesota Timberwolves*  Minnesota Timberwolves  56  26       West  2024
3    Los Angeles Clippers*    Los Angeles Clippers  51  31       West  2024
4        Dallas Mavericks*        Dallas Mavericks  50  32       West  2024
(15, 6)

In [46]:

#Step 18 concat

standings_2024 = pd.concat([east_2024, west_2024], ignore_index=True)

print(standings_2024.head())
print(standings_2024.shape)
print(standings_2024["Conference"].value_counts())

0                  Team           Team_clean   W   L Conference  Year
0       Boston Celtics*       Boston Celtics  64  18       East  2024
1      New York Knicks*      New York Knicks  50  32       East  2024
2      Milwaukee Bucks*      Milwaukee Bucks  49  33       East  2024
3  Cleveland Cavaliers*  Cleveland Cavaliers  48  34       East  2024
4        Orlando Magic*        Orlando Magic  47  35       East  2024
(30, 6)
Conference
East    15
West    15
Name: count, dtype: int64

In [51]:

#Step 19 Also run stats

stats_2024 = pd.read_csv("NBA_Stats_2023_2024.csv")
stats_2024 = stats_2024[~stats_2024["Team"].astype(str).str.contains("League Average", na=False)]
stats_2024["Team_clean"] = stats_2024["Team"].astype(str).str.replace("*", "", regex=False).str.strip()
stats_2024["Year"] = 2024

print(stats_2024[["Team", "Team_clean", "Year"]].head())
print(stats_2024.shape)
print("unique teams in stats_2024:", stats_2024["Team_clean"].nunique())

                     Team             Team_clean  Year
0         Indiana Pacers*         Indiana Pacers  2024
1         Boston Celtics*         Boston Celtics  2024
2  Oklahoma City Thunder*  Oklahoma City Thunder  2024
3        Milwaukee Bucks*        Milwaukee Bucks  2024
4           Atlanta Hawks          Atlanta Hawks  2024
(30, 27)
unique teams in stats_2024: 30

In [48]:

#Step 20 also merge

merged_2024_auto = pd.merge(
    stats_2024,
    standings_2024,
    on=["Team_clean", "Year"],
    how="inner"
)

merged_2024_auto = merged_2024_auto.rename(columns={"Team_x": "Team"}).drop(columns=["Team_y"])

print(merged_2024_auto[["Team", "W", "L", "Conference"]].head())
print(merged_2024_auto.shape)
print("unique teams:", merged_2024_auto["Team_clean"].nunique())

                     Team   W   L Conference
0         Indiana Pacers*  47  35       East
1         Boston Celtics*  64  18       East
2  Oklahoma City Thunder*  57  25       West
3        Milwaukee Bucks*  49  33       East
4           Atlanta Hawks  36  46       East
(30, 30)
unique teams: 30

In [50]:
# Step 21 check 2 method equal
print(merged_2024_auto.equals(merged))
print(merged_2024_auto.head())
print(merged_2024_auto.shape)

True
    Rk                    Team   G     MP    FG   FGA    FG%    3P   3PA  \
0  1.0         Indiana Pacers*  82  19705  3855  7599  0.507  1082  2891
1  2.0         Boston Celtics*  82  19830  3601  7396  0.487  1351  3482
2  3.0  Oklahoma City Thunder*  82  19805  3653  7324  0.499  1090  2805
3  4.0        Milwaukee Bucks*  82  19805  3538  7258  0.487  1163  3122
4  5.0           Atlanta Hawks  82  19855  3529  7584  0.465  1125  3092

     3P%  ...  STL  BLK   TOV    PF    PTS             Team_clean  Year   W  \
0  0.374  ...  631  481  1059  1756  10110         Indiana Pacers  2024  47
1  0.388  ...  557  538   979  1326   9887         Boston Celtics  2024  64
2  0.389  ...  694  538  1039  1545   9847  Oklahoma City Thunder  2024  57
3  0.373  ...  558  413  1059  1574   9756        Milwaukee Bucks  2024  49
4  0.364  ...  615  369  1110  1522   9703          Atlanta Hawks  2024  36

    L  Conference
0  35        East
1  18        East
2  25        West
3  33        East
4  46        East

[5 rows x 30 columns]
(30, 30)

In [52]:

# Step 22 make path name

def make_paths(year):
    prev = year - 1
    stats_path = f"NBA_Stats_{prev}_{year}.csv"
    east_path = f"NBA_Standings_East_{prev}_{year}.csv"
    west_path = f"NBA_Standings_West_{prev}_{year}.csv"
    return stats_path, east_path, west_path

In [53]:

# Step 23 check naming ok

stats_path_2024, east_path_2024, west_path_2024 = make_paths(2024)

print(stats_path_2024)
print(east_path_2024)
print(west_path_2024)

NBA_Stats_2023_2024.csv
NBA_Standings_East_2023_2024.csv
NBA_Standings_West_2023_2024.csv

In [54]:

#Step 24 auto do upward steps

def build_season(year):
    stats_path, east_path, west_path = make_paths(year)
    
    stats = pd.read_csv(stats_path)
    stats = stats[~stats["Team"].astype(str).str.contains("League Average", na=False)]
    stats["Team_clean"] = stats["Team"].astype(str).str.replace("*", "", regex=False).str.strip()
    stats["Year"] = year
    
    east = load_standings(east_path, "East", year)
    west = load_standings(west_path, "West", year)
    standings = pd.concat([east, west], ignore_index=True)
    
    merged = pd.merge(
        stats,
        standings,
        on=["Team_clean", "Year"],
        how="inner"
    )
    
    merged = merged.rename(columns={"Team_x": "Team"}).drop(columns=["Team_y"])
    
    return merged

In [55]:

#Step 25 check new fun build_season ok

season_2024 = build_season(2024)

print(season_2024[["Team", "W", "L", "Conference"]].head())
print(season_2024.shape)
print("unique teams:", season_2024["Team_clean"].nunique())
print(season_2024.equals(merged_2024_auto))

                     Team   W   L Conference
0         Indiana Pacers*  47  35       East
1         Boston Celtics*  64  18       East
2  Oklahoma City Thunder*  57  25       West
3        Milwaukee Bucks*  49  33       East
4           Atlanta Hawks  36  46       East
(30, 30)
unique teams: 30
True

In [56]:

#Step 26 use small amount of yr to check every thing ok

years = [2022, 2023, 2024]

all_seasons_list = []

for y in years:
    df_y = build_season(y)
    df_y["Season"] = f"{y-1}-{y}"
    all_seasons_list.append(df_y)

all_seasons = pd.concat(all_seasons_list, ignore_index=True)

print(all_seasons[["Season", "Team", "W", "L", "Conference"]].head(20))
print(all_seasons["Season"].value_counts())
print(all_seasons.shape)

       Season                     Team   W   L Conference
0   2021-2022  Minnesota Timberwolves*  46  36       West
1   2021-2022       Memphis Grizzlies*  56  26       West
2   2021-2022         Milwaukee Bucks*  51  31       East
3   2021-2022        Charlotte Hornets  43  39       East
4   2021-2022            Phoenix Suns*  64  18       West
5   2021-2022           Atlanta Hawks*  43  39       East
6   2021-2022               Utah Jazz*  49  33       West
7   2021-2022        San Antonio Spurs  34  48       West
8   2021-2022           Brooklyn Nets*  44  38       East
9   2021-2022          Denver Nuggets*  48  34       West
10  2021-2022       Los Angeles Lakers  33  49       West
11  2021-2022          Boston Celtics*  51  31       East
12  2021-2022           Chicago Bulls*  46  36       East
13  2021-2022           Indiana Pacers  25  57       East
14  2021-2022   Golden State Warriors*  53  29       West
15  2021-2022         Sacramento Kings  30  52       West
16  2021-2022              Miami Heat*  53  29       East
17  2021-2022      Philadelphia 76ers*  51  31       East
18  2021-2022          Houston Rockets  20  62       West
19  2021-2022         Toronto Raptors*  48  34       East
Season
2021-2022    30
2022-2023    30
2023-2024    30
Name: count, dtype: int64
(90, 31)

In [57]:

#Step 27 define use yr data

years = list(range(2016, 2026))  # 2016, 2017, ..., 2025
print(years)

[2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025]

In [58]:

# Step 28 Build all

all_seasons_list = []

for y in years:
    print(f"Building season for year = {y} ...")
    df_y = build_season(y)          
    df_y["Season"] = f"{y-1}-{y}"   
    
    print("  shape:", df_y.shape)
    print("  unique teams:", df_y["Team_clean"].nunique())
    
    all_seasons_list.append(df_y)

Building season for year = 2016 ...
  shape: (30, 31)
  unique teams: 30
Building season for year = 2017 ...
  shape: (30, 31)
  unique teams: 30
Building season for year = 2018 ...
  shape: (30, 31)
  unique teams: 30
Building season for year = 2019 ...
  shape: (30, 31)
  unique teams: 30
Building season for year = 2020 ...
  shape: (30, 31)
  unique teams: 30
Building season for year = 2021 ...
  shape: (30, 31)
  unique teams: 30
Building season for year = 2022 ...
  shape: (30, 31)
  unique teams: 30
Building season for year = 2023 ...
  shape: (30, 31)
  unique teams: 30
Building season for year = 2024 ...
  shape: (30, 31)
  unique teams: 30
Building season for year = 2025 ...
  shape: (30, 31)
  unique teams: 30

In [59]:

#Step 29 concat all

all_seasons = pd.concat(all_seasons_list, ignore_index=True)

print(all_seasons[["Season", "Team", "W", "L", "Conference"]].head(20))
print(all_seasons["Season"].value_counts())
print("shape:", all_seasons.shape)

       Season                     Team   W   L Conference
0   2015-2016   Golden State Warriors*  73   9       West
1   2015-2016   Oklahoma City Thunder*  55  27       West
2   2015-2016         Sacramento Kings  33  49       West
3   2015-2016         Houston Rockets*  41  41       West
4   2015-2016          Boston Celtics*  48  34       East
5   2015-2016  Portland Trail Blazers*  44  38       West
6   2015-2016    Los Angeles Clippers*  53  29       West
7   2015-2016     Cleveland Cavaliers*  57  25       East
8   2015-2016       Washington Wizards  41  41       East
9   2015-2016       San Antonio Spurs*  67  15       West
10  2015-2016       Charlotte Hornets*  48  34       East
11  2015-2016           Atlanta Hawks*  48  34       East
12  2015-2016     New Orleans Pelicans  30  52       West
13  2015-2016         Toronto Raptors*  56  26       East
14  2015-2016   Minnesota Timberwolves  29  53       West
15  2015-2016        Dallas Mavericks*  42  40       West
16  2015-2016          Indiana Pacers*  45  37       East
17  2015-2016            Orlando Magic  35  47       East
18  2015-2016         Detroit Pistons*  44  38       East
19  2015-2016           Denver Nuggets  33  49       West
Season
2015-2016    30
2016-2017    30
2017-2018    30
2018-2019    30
2019-2020    30
2020-2021    30
2021-2022    30
2022-2023    30
2023-2024    30
2024-2025    30
Name: count, dtype: int64
shape: (300, 31)

In [62]:
# Step 30 save to new total csv

all_seasons.to_csv("NBA_Stats_Standings_2015_2016_to_2024_2025.csv", index=False)

        Season                     Team   W   L Conference
280  2024-2025         Milwaukee Bucks*  48  34       East
281  2024-2025         Detroit Pistons*  44  38       East
282  2024-2025  Minnesota Timberwolves*  49  33       West
283  2024-2025         Houston Rockets*  52  30       West
284  2024-2025         Dallas Mavericks  39  43       West
285  2024-2025        San Antonio Spurs  34  48       West
286  2024-2025   Golden State Warriors*  48  34       West
287  2024-2025             Phoenix Suns  36  46       West
288  2024-2025      Los Angeles Lakers*  50  32       West
289  2024-2025    Los Angeles Clippers*  50  32       West
290  2024-2025                Utah Jazz  17  65       West
291  2024-2025   Portland Trail Blazers  36  46       West
292  2024-2025          Toronto Raptors  30  52       East
293  2024-2025              Miami Heat*  37  45       East
294  2024-2025     New Orleans Pelicans  21  61       West
295  2024-2025       Philadelphia 76ers  24  58       East
296  2024-2025       Washington Wizards  18  64       East
297  2024-2025           Orlando Magic*  41  41       East
298  2024-2025            Brooklyn Nets  26  56       East
299  2024-2025        Charlotte Hornets  19  63       East
        Season                     Team   W   L Conference
120  2019-2020        Dallas Mavericks*  43  32       West
121  2019-2020         Milwaukee Bucks*  56  17       East
122  2019-2020  Portland Trail Blazers*  35  39       West
123  2019-2020         Houston Rockets*  44  28       West
124  2019-2020    Los Angeles Clippers*  49  23       West
125  2019-2020     New Orleans Pelicans  30  42       West
126  2019-2020             Phoenix Suns  34  39       West
127  2019-2020       Washington Wizards  25  47       East
128  2019-2020        Memphis Grizzlies  34  39       West
129  2019-2020          Boston Celtics*  48  24       East
130  2019-2020              Miami Heat*  44  29       East
131  2019-2020          Denver Nuggets*  46  27       West
132  2019-2020         Toronto Raptors*  53  19       East
133  2019-2020        San Antonio Spurs  32  39       West
134  2019-2020      Philadelphia 76ers*  43  30       East
135  2019-2020      Los Angeles Lakers*  52  19       West
136  2019-2020           Brooklyn Nets*  35  37       East
137  2019-2020               Utah Jazz*  44  28       West
138  2019-2020          Indiana Pacers*  45  28       East
139  2019-2020   Oklahoma City Thunder*  44  28       West
140  2019-2020         Sacramento Kings  31  41       West
141  2019-2020           Orlando Magic*  33  40       East
142  2019-2020            Atlanta Hawks  20  47       East
143  2019-2020   Minnesota Timberwolves  19  45       West
144  2019-2020          Detroit Pistons  20  46       East
145  2019-2020          New York Knicks  21  45       East
146  2019-2020      Cleveland Cavaliers  19  46       East
147  2019-2020            Chicago Bulls  22  43       East
148  2019-2020    Golden State Warriors  15  50       West
149  2019-2020        Charlotte Hornets  23  42       East